div.o-trigger{
	position: fixed;
	bottom: 50px; right: 60px;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background: #44A55B;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
	z-index: 1000000000000;
}

div.o-trigger span.o-new{
	position: absolute;
	top: 10px; left: 6px;
	height: 20px; width: 20px;
	border-radius: 100%;
	background: #ef3434;
	font-size: 10px;
	line-height: 20px;
	display: none;
}

audio.alertplayer{
	display: none;
}

div.o-box{
	width: 340px;
	font-family: sans-serif;
	position: fixed;
	bottom: 50px; right: 30px;
	opacity: 0;
	z-index: -1;
	overflow: hidden;
}

div.o-box div.o-head{
	background: #44A55B;
	padding: 15px;
	color: #fff;
}

div.o-box div.o-head a.o-box-title{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

div.o-box div.o-head span.o-box-closer{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	float: right;
	cursor: pointer;
}

div.o-box div.o-alerter{
	padding: 5px 0;
	text-align: center;
	background: #44A55B;
	color: #fff;
	position: absolute;
	left: O; bottom: 0px;
	width: 100%;
	font-size: 11px;
	z-index: 100;
	display: none;
}

div.o-box div.o-alerter.error{
	background: #ef5f5f;
}

div.o-box div.o-body{
	height: 420px;
	background: #fff;
	padding-top: 1px;
	box-sizing: border-box;
	/*border-bottom: 2px solid #ff0;*/
}

div.o-box div.o-body div.o-part{
	position: absolute;
	width: 100%; height: calc(100% - 49px);
	left: 0; top: 49px;
	/*border-bottom: 3px solid #f00;*/
}

div.o-box div.o-body div.o-part.hidden{
	display: none; 
}

div.o-box div.o-body div.o-first{
	z-index: 2;
	background: #fff;
}

div.o-box div.o-body div.o-first div.o-logo{
	text-align: center;
	width: 120px;
	height: 120px;
	margin: auto;
	margin-top: 60px;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
}

div.o-box div.o-body div.o-first div.o-logo img{
	width: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

div.o-box div.o-body div.o-first div.o-login{
	margin-top: 30px;
	padding: 0 20px;
}

div.inp-group:not(:last-child){
	margin-bottom: 20px;
}

div.inp-group input{
	background: transparent;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	border-radius: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	box-shadow: 0px 2px 7px 0px #eee;
	font-size: 13px;
}

div.inp-group input[type="submit"]:hover{
	background: #44A55B;
	color: #fff;
	cursor: pointer;
}

div.o-box div.o-body div.o-two{
	/*background: url(../images/chat-back.png) #fafafa;*/
	background-size: 80%;
	z-index: 1;
}

div.o-box div.o-body div.adminstatus{
	position: absolute;
	top: -1px; left: 0;
	width: 100%;
	background: rgba(215,215,215,0.6);
	color: #888;
	font-size: 13px;
	text-align: center;
	padding: 7px 0;
	display: none;
}

div.o-box div.o-body div.adminstatus.foradmin{
	top: unset; bottom: 63px;
}

div.o-box div.o-body div.o-chat{
	height: calc(100% - 63px);
	padding: 10px 10px; 
	box-sizing: border-box;
	overflow-y: auto;
}

div.o-box div.o-body div.o-chat div.o-msg{
	overflow: auto;
	margin-bottom: 7px;
	/*border: 1px solid #f00;*/
	padding: 5px 1px;
	box-sizing: border-box;
}

div.o-box div.o-body div.o-chat div.o-msg:last-child{
	border-bottom: 0;
}

div.o-box div.o-body div.o-chat div.o-msg div.content{
	max-width: 80%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #ddd;
	padding: 10px 20px;
	font-size: 13px;
	box-sizing: border-box;
}

div.o-box div.o-body div.o-chat div.o-msg div.content img{
	max-width: 100%;
}

div.o-box div.o-body div.o-chat div.o-msg div.content a{
	color: #000;
}

div.o-box div.o-body div.o-chat div.o-msg div.content a i{
	font-size: 50px;
	color: #44A55B;
}

div.o-box div.o-body div.o-chat div.o-msg.owner div.content{
	background: #EFEFEF;
	color: #333;
	float: left;
}

div.o-box div.o-body div.o-chat div.o-msg.other div.content{
	float: right;
}

div.o-box div.o-body div.o-chat div.o-msg div.thumb{
	width: 36px; height: 36px;
	border-radius: 100%;
	overflow: hidden;
}

div.o-box div.o-body div.o-chat div.o-msg div.thumb img{
	width: 100%;
}

div.o-box div.o-body div.o-chat div.o-msg.other div.thumb{
	float: right;
	margin-left: 10px;
}

div.o-box div.o-body div.o-write{
	height: 63px;
	border-bottom: 1px solid #44A55B;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
}

div.o-box div.o-body div.o-write div.o-editor{
	height: 100%;
	/*background: #f1f1f1;*/
	margin: 0 5px;
	float: left;
	width: 70%;
}

div.o-box div.o-body div.o-write textarea{
	width: 100%;
	border-radius: 25px;
	resize: none;
	border: 1px solid #ddd;
	padding: 8px 20px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 13px;
	height: 100%;
}

div.o-box div.o-body div.o-write button.o-send{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #44A55B;
	border: none;
	color: #fff;
	outline: none;
}

div.o-box div.o-body div.o-write button.o-add-file{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #ddd;
	border: none;
	color: #fff;
	outline: none;
	transition: all 0.2s ease;
}

div.o-box div.o-body div.o-add-box{
	position: absolute;
	bottom: 50px; left: 0;
	width: 100%;
	background: #f7f7f7;
	border-bottom: 1px solid #ddd;
	z-index: 20;
	text-align: center;
	display: none;
	opacity: 0;
	padding: 10px;
	word-spacing: 10px;
}

div.o-box div.o-body div.o-add-box label.addbtn {
	font-size: 19px;
	margin: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #44A55B;
	color: #fff;
	line-height: 80px;
	cursor: pointer;
	position: relative;
	word-spacing: normal;
	display: inline-block;
}

div.o-box div.o-body div.o-add-box label.addbtn i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.o-box div.o-body div.o-add-box label.addbtn.addfile {
}

div.o-box div.o-body div.o-add-box label.addbtn.addemos {
}

div.o-box div.o-body div.o-add-box .emos-box {
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	background: #f7f7f7;
	z-index: 21;
}

div.o-box div.o-body div.o-add-box .emos-box .content {
	overflow: auto;
	height: 100%;
	padding: 8px;
	text-align: center;
	box-sizing: border-box;
}

div.o-box div.o-body div.o-add-box .emos-box .content img {
	float: left;
	width: 14%;
	padding: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

div.o-box div.o-body div.o-add-box .emos-box .close-emos {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 13px;
	color: #bbb;
	cursor: pointer;
}

div.o-box div.o-body div.o-progress-bar{
	position: absolute;
	bottom: 63px;
	width: 100%;
	/*display: none;*/
	z-index: 19px;
}

div.o-box div.o-body div.o-progress-bar div.thebar{
	height: 3px;
	width: 0px;
	background: #44A55B;
}

div.o-admin{
	bottom: 0; right: 0;
	height: 100%;
}

div.o-admin div.o-body{
	bottom: 0; right: 0;
	height: calc(100% - 49px);
	padding-top: 0;
}

div.o-admin div.o-body div.o-controls{
	background: #f7f7f7;
}

div.o-admin div.o-body div.o-controls ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: auto;
}

div.o-admin div.o-body div.o-controls ul li{
	float: left;
	position: relative;
	width: 25%;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #d7d7d7;
	font-size: 17px !important;
	font: 17px;
	cursor: pointer;

}

div.o-admin div.o-body div.o-controls ul li.o-active{
	/*border-bottom: 2px solid #44A55B;*/
	border: none;
	background: #fff;
}

div.o-admin div.o-body div.o-controls ul li span.smal{
	position: absolute;
	top: 8px; right: 29px;
	display: inline-block;
	height: 10px; width: 10px;
	background: #ef5f5f;
	border-radius: 100%;
	display: none;
}

div.o-admin div.o-body div.o-parts{
	width: 100%;
	height: calc(100% - 90px);
	position: absolute;
	top: 90px; left: 0;
	padding: 0px 0;
	display: none;
	/*border-bottom: 1px solid red;*/
	box-sizing: border-box;;
}

div.o-admin div.o-body div.o-parts.active{
	display: block;
}

div.o-admin div.o-body div.o-parts.part-chat{
	overflow: hidden;
}

div.o-admin div.o-body div.o-parts.part-chat ul{
	padding: 10px 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
}

div.o-admin div.o-body div.o-parts.part-chat ul li{
	padding: 10px 10px;
	overflow: auto;
	position: relative;
	cursor: pointer;
}

div.o-admin div.o-body div.o-parts.part-chat ul li div.thumb{
	float: left;
	position: relative;
}

div.o-admin div.o-body div.o-parts.part-chat ul li div.thumb div.picture-wrapper{
	width: 50px; height: 50px;
	border-radius: 100%;
	border: 2px solid #eee;
	overflow: hidden;

}

div.o-admin div.o-body div.o-parts.part-chat ul li div.thumb div.picture-wrapper img{
	width: 100%;
}

div.o-admin div.o-body div.o-parts.part-chat ul li div.thumb span.online{
	position: absolute;
	color: #49d879;
	/*color: #44A55B;*/
	bottom: 0px; right: 0px;
	display: none;
}

div.o-admin div.o-body div.o-parts.part-chat ul li div.resume{
	margin-left: 63px;
}

div.o-admin div.o-body div.o-parts.part-chat ul li div.resume strong{
	font-size: 13px;
	color: #666;
	margin-top: 7px;
	display: block;
}

div.o-admin div.o-body div.o-parts.part-chat ul li div.resume span{
	font-size: 12px;
	color: #aaa;
	margin-top: 3px;
	display: block;
}

div.o-admin div.o-body div.o-parts.part-chat ul li span.newest{
	position: absolute;
	right: 15px; top: 20px;
	width: 20px; height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 100%;
	font-size: 11px;
	color: #fff;
	background: #ef5f5f;
	display: none;
}

div.o-admin div.o-body div.users-list{
	position: absolute;
	height: 100%; width: 100%;
	overflow: auto;
	background: #fff;
	z-index: 2;
}

div.o-admin div.o-body div.conversation{
	height: 100%;
	border-bottom: 1px solid red;
	position: relative;
	opacity: 0;
	z-index: 1;
}

div.o-admin div.o-body div.conversation span.backbtn{
	position: absolute;
	top: 0px; left: 0px;
	padding: 10px;
	color: #ccc;
	cursor: pointer;
}

div.o-admin div.o-body div.o-parts.centered div.content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	padding: 0 15px;
	box-sizing: border-box;
	max-height: 100%;
	overflow: auto;
}

div.o-admin div.o-body div.o-parts div.content div.wrapper{
	margin-bottom: 20px;
}

div.o-admin div.o-body div.part-home{}

div.o-admin div.o-body div.part-home div.content{}

div.o-admin div.o-body div.part-home div.content h3{
	color: #bbb;
	font-size: 18px;
}

div.o-admin div.o-body div.part-home div.content div.adminpicture{
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

div.o-admin div.o-body div.part-home div.content div.adminpicture div.picture-wrapper{
	width: 150px; height: 150px;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	margin: auto;
}

div.o-admin div.o-body div.part-home div.content div.adminpicture div.picture-wrapper img{
	width: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

div.o-admin div.o-body div.part-home div.content div.adminpicture label.editbtn{
	position: absolute;
	bottom: 0; right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	background: #44A55B;
	color: #fff;
	cursor: pointer;
}

div.o-admin div.o-body div.part-home div.content div.adminpicture input#profilepicture{
	display: none;
}

div.o-admin div.o-body div.part-home div.content div.o-admin-name{
	margin-top: 10px;
}

div.o-admin div.o-body div.part-home div.content div.o-admin-name h4{
	font-size: 16px;
	color: #44A55B;
}

div.o-admin div.o-body div.part-home div.content div.o-admin-name p{
	font-size: 13px;
	color: #aaa;
	margin-top: 0;
}
div.o-admin div.o-body div.part-home div.content div.o-admin-name a{
	display: inline-block;
	width: 180px;
	margin-top: 30px;
	padding: 10px;
	background: #44A55B;
	border-radius: 20px;
	box-shadow: 0px 2px 7px 0 #ddd;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

div.o-admin div.o-body div.part-about{
	background: #f9f9f9;
}

div.o-admin div.o-body div.part-about img.logo{
	width: 150px;
	margin-bottom: 20px;
}

div.o-admin div.o-body div.part-about h3{
	color: #44A55B;
	font-size: 17px;
	margin-bottom: 20px;
}

div.o-admin div.o-body div.part-about p{
	color: #888;
	font-size: 13px;
	margin-bottom: 25px;
}

div.o-admin div.o-body div.part-about a{
	color: #44A55B;
	text-decoration: none;
}

div.o-admin div.o-body div.part-about a i{
	font-size: 20px;
}

div.o-admin div.o-body div.part-settings{}

div.o-admin div.o-body div.part-settings div.content{
	max-height: 100%;
	overflow: auto;
}

div.o-admin div.o-body div.part-settings div.big-icon{
	font-size: 70px;
	color: #ccc;
	margin: 30px 0px;
}

div.o-admin div.o-body div.part-settings div.inp-group label{
	display: block;
	text-align: left;
	font-size: 12px;
	color: #aaa;
	margin-bottom: 5px;
	margin-left: 5px;
}

div.o-admin div.o-body div.part-settings div.inp-group a.o-update-submit{
	display: inline-block;
	width: 100%;
	padding: 10px;
	background: #44A55B;
	border-radius: 20px;
	color: #fff;
	border: 1px solid #44A55B;
	box-shadow: 0px 2px 7px 0px #ddd;
	font-size: 13px;
	box-sizing: border-box;
}

@media(max-width: 400px){
	div.o-box{ height: 100%; width: 100%; right: 0; }
	div.o-box div.o-body{ height: calc(100% - 48px); }
	div.o-box div.o-body div.o-chat{ height: calc(100% - 63px); }
	div.o-box div.o-body div.o-write{ position: relative;  }
	div.o-box div.o-body div.o-write div.o-editor{ float: none; margin: auto; width: 75%; }
	div.o-box div.o-body div.o-write button{ position: absolute; top: 12px; }
	div.o-box div.o-body div.o-write button.o-send{ right: 10px; }
	div.o-box div.o-body div.o-write button.o-add-file{ left: 10px; }
}