		<!-- button -->
		<div class="o-trigger">
			<i class="fa fa-envelope"></i>
			<span class="o-new">1</span>
		</div>
		<!-- player -->
		<audio id="alertplayer"></audio>
		<!-- chatbox -->
		<div class="o-admin o-box">
			<div class="o-head">
				<a href="#" class="o-box-title">O-Live</a>
				<span class="o-box-closer">&times;</span>
			</div>
			<div class="o-body">
				<!-- alerter -->
				<div class="o-alerter">lorem ipsum dolor plack</div>
				<div class="o-controls">
					<ul>
						<li class="o-active" data-part="home"><i class="fa fa-home" style="font-size: 17px;"></i></li>
						<li data-part="chat"><i class="fa fa-envelope" style="font-size: 17px;"></i> <span class="smal"></span></li>
						<li data-part="settings"><i class="fa fa-cog" style="font-size: 17px;"></i></li>
						<li data-part="about"><i class="fa fa-question-circle" style="font-size: 17px;"></i></li>
					</ul>
				</div>
				<!-- parts -->
				<div class="o-parts part-home centered active">
					<div class="content">
						<div class="wrapper">
							<h3 class="title">Welcome Admin !</h3>
							<div class="adminpicture">
								<div class="picture-wrapper">
									<img src="">
								</div>
								<label class="editbtn" for="profilepicture"><i class="fa fa-camera"></i></label>
								<input type="file" name="" id="profilepicture">
							</div>
							<div class="o-admin-name">
								<h4>Admin Name</h4>
								<p>This is the place for you to exchange with your visitors. Enjoy !</p>
								<a href="#">Go to o-live</a>
							</div>
						</div>
					</div>
				</div>
				<div class="o-parts part-chat">
					<div class="users-list">
						<ul>
							<!-- user li template -->
						</ul>
					</div>
					<div class="conversation">
						<div class="adminstatus foradmin"></div>
						<div class="o-chat">
							<!-- messages templates -->
						</div>
						<!--  -->
						<div class="o-add-box">
							<label href="#" class="addfile addbtn" for="sharefile"><i class="fa fa-paperclip"></i></label>
							<label href="#" class="addemos addbtn" onclick="olive.openEmosBox()"><i class="fa fa-meh-o"></i></label>
							<input type="file" name="sharefile" style="display: none;" id="sharefile">
							<div class="emos-box">
								<div class="content"></div>
								<span class="close-emos" onclick="olive.closeEmosBox()">&times;</span>
							</div>
						</div>
						<!--  -->
						<div class="o-progress-bar">
							<div class="thebar"></div>
						</div>
						<!--  -->
						<div class="o-write">
							<button class="o-add-file"><i class="fa fa-plus"></i></button>
							<div class="o-editor">
								<textarea rows="1" class="o-wrote" placeholder="Write your text ..."></textarea>
							</div>
							<button class="o-send"><i class="fa fa-send"></i></button>
						</div>
						<!--  -->
						<span class="backbtn"><i class="fa fa-arrow-left"></i></span>
					</div>
				</div>
				<div class="o-parts centered part-settings">
					<div class="content">
						<div class="wrapper">
							<div class="big-icon">
								<i class="fa fa-cogs"></i>
							</div>
							<form action="#" class="o-update-settings">
								<div class="inp-group">
									<label>Admin Name</label>
									<input type="text" name="adminname">
								</div>
								<div class="inp-group">
									<label>Welcome Message</label>
									<input type="text" name="welcomemessage">
								</div>
								<div class="inp-group">
									<label>Display Name</label>
									<input type="text" name="displayname">
								</div>
								<div class="inp-group">
									<label>Update Speed(millisecond)</label>
									<input type="text" name="speed">
								</div>
								<div class="inp-group">
									<label>Allowed files type</label>
									<input type="text" name="filetype">
								</div>
								<div class="inp-group">
									<label>File Max size</label>
									<input type="text" name="maxfilesize">
								</div>
								<div class="inp-group">
									<a class="o-update-submit">Save</a>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="o-parts centered part-about">
					<div class="content">
						<img src="" class="logo">
						<h3>O-Live</h3>
						<p>
							O-Live is a free live chat plugin created to help websites admin to easily answer to their visitors question.<br>O-Live is ajax-based easy to setup.
						</p>
						<p>
							Find O-Live documentation to <br><a href="http://olive.constantmissa.ci">o-live official website</a><br>
						</p>
						<p>
							You can download o-live on<br>
							<a href="https://bitbucket.org/missaconstant/olive"><i class="fa fa-bitbucket"></i></a> or on <a href="#"><i class="fa fa-github"></i></a>
						</p>
						<p>
							AtomiX
						</p>
					</div>
				</div>
			</div>
		</div>