		<!-- button -->
		<div class="o-trigger">
			<i class="fa fa-envelope"></i>
			<span class="o-new">1</span>
		</div>
		<!-- player -->
		<audio id="alertplayer" style="display: none;"></audio>
		<!-- chatbox -->
		<div class="o-box">
			<div class="o-head">
				<a href="#" class="o-box-title">O-Live</a>
				<span class="o-box-closer">&times;</span>
			</div>
			<div class="o-body">
				<!-- alerter -->
				<div class="o-alerter">lorem ipsum dolor plack</div>
				<!-- first body -->
				<div class="o-part o-first">
					<div class="o-logo">
						<img src="">
					</div>
					<div class="o-login">
						<div class="inp-group">
							<input type="text" name="" placeholder="Your Name" class="o-user-name">
						</div>
						<div class="inp-group">
							<input type="email" name="" placeholder="Enter Your E-mail" class="o-user-mail">
						</div>
						<div class="inp-group">
							<input type="submit" value="Go chat !" class="o-suscribebtn">
						</div>
					</div>
				</div>
				<div class="o-part o-two">
					<div class="adminstatus"></div>
					<div class="o-chat">
						<!-- messages templates -->
					</div>
					<!--  -->
					<div class="o-add-box">
						<label href="#" class="addfile addbtn" for="sharefile"><i class="fa fa-paperclip"></i></label>
						<label href="#" class="addemos addbtn" onclick="olive.toggleEmosBox()"><i class="fa fa-meh-o"></i></label>
						<input type="file" name="sharefile" style="display: none;" id="sharefile">
						<div class="emos-box">
							<div class="content"></div>
							<span class="close-emos" onclick="olive.closeEmosBox()">&times;</span>
						</div>
					</div>
					<!--  -->
					<div class="o-progress-bar">
						<div class="thebar"></div>
					</div>
					<!--  -->
					<div class="o-write">
						<button class="o-add-file"><i class="fa fa-plus"></i></button>
						<div class="o-editor">
							<textarea rows="1" class="o-wrote" placeholder="Write your text ..."></textarea>
						</div>
						<button class="o-send"><i class="fa fa-send"></i></button>
					</div>
				</div>
			</div>
			</div>
		</div>