	<li onclick="olive.toggleChatViews(this)" id="{%= o.clientid %}">
		<div class="thumb">
			<div class="picture-wrapper">
				<img src="{%= o.thumb %}">
			</div>
			<span class="online"><i class="fa fa-circle"></i></span>
		</div>
		<div class="resume">
			<strong>{%= o.name %}</strong>
			<span>{%= o.email %}</span>
		</div>
		<span class="newest">1</span>
	</li>